PORT="6602"

DATABASE_HOST="localhost"
DATABASE_PORT="5502"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="beyond"

TEST_DATABASE_HOST="localhost"
TEST_DATABASE_PORT="5503"
TEST_DATABASE_USER="postgres"
TEST_DATABASE_PASSWORD="postgres"
TEST_DATABASE_NAME="beyond"
