*::selection {
    background-color: #4791ff40;
}

#draggable {
    -webkit-app-region: drag;
}

#draggable button {
    -webkit-app-region: no-drag;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
