@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter), sans-serif;
    font-weight: 350;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
}

@font-face {
    font-family: "Hahmlet";
    src: url("./assets/font/Hahmlet-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-hahmlet: "Hahmlet", sans-serif;
}
